.container-button{
    margin: 50px auto;
}
.container-button a{
    position: relative;
    display: inline-block;
    padding:15px 30px;
    color:#2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.container-button a:hover{
    color:#255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3 , 0 0 20px #2196f3 , 0 0 40px #2196f3;
    transition-delay:1s ;
}
.container-button a span{
    position:absolute;
    display:block;

}
.container-button span:nth-child(1){
    top:0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}
.container-button a:hover span:nth-child(1){
    left: 100%;
    transition:1s;
}
.container-button span:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}
.container-button a:hover span:nth-child(3){
    right: 100%;
    transition:1s;
    transition-delay: 0.5s;
}
.container-button span:nth-child(2){
    right:0;
    top:-100%;
    width: 100%;
    height: 15px;
    background: linear-gradient(180deg,transparent,#2196f3);
}
.container-button a:hover span:nth-child(2){
    top:  100%;
    transition:1s;
}
/* .button{
    font-size: 25px;
    font-weight: bold;
    color: #301ed4;
    animation:2s blinker linear infinite;
    
}
@keyframes blinker{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.button:active {
    background-color: #301ed4b0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    outline: none;
    color:#fff;

  } */



  #backHome{
    margin: 50px auto;
}
#backHome a{
    position: relative;
    display: inline-block;
    padding:15px 30px;
    color:#e40000;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
#backHome a:hover{
    color:#a00c0c;
    background: #e40000;
    box-shadow: 0 0 10px #e40000 , 0 0 20px #e40000 , 0 0 40px #e40000;
    transition-delay:1s ;
}
#backHome a span{
    position:absolute;
    display:block;

}
#backHome span:nth-child(1){
    top:0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#e40000);
}
#backHome a:hover span:nth-child(1){
    left: 100%;
    transition:1s;
}
#backHome span:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#e40000);
}
#backHome a:hover span:nth-child(3){
    right: 100%;
    transition:1s;
    transition-delay: 0.5s;
}
#backHome span:nth-child(2){
    right:0;
    top:-100%;
    width: 100%;
    height: 15px;
    background: linear-gradient(180deg,transparent,#e40000);
}
#backHome a:hover span:nth-child(2){
    top:  100%;
    transition:1s;
}