.center{
    margin: 0 auto;
}
.text-white{
    color:white ;
}
.d-block{
    display: block;
}
.d-inlineb{
    display: inline-block;
}
.full-size{
    width: 100%;
}
.margin-L-25{
    margin-left: 25%;
}
.m-Height-250{
    min-height: 300px;
}
.label-size{
    font-size:20px ;
}
.button{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0508b9;
    border: none;
    border-radius: 15px;
    box-shadow:3.5px 5px 0px 0px #999999a3;
    
}
.button:hover {
    box-shadow: 0 0 10px #2196f3;
}

.button:active {
  background-color: #050796;
  box-shadow: 3.5px 5px 0px 0px #999999a3,0 0 20px #2196f3 , 0 0 30px #2196f3;
  transform: translateY(4px);
  
}
.button:focus{
    outline: none;
}
.view-hidden{
    visibility: hidden;
    font-size: 0;
}
.view-visible{
    visibility: visible;
}



